{% extends 'climateapp/base.html' %}

{% block content %}

<div class="page">

    <h1>About Climate Monitor</h1>

    <p>
        Climate Monitor is a Django-based web application
        used to store and display climate information.
    </p>

    <p>
        The application records temperature, humidity,
        rainfall and air quality information.
    </p>


    <h2>Objectives</h2>

    <ul>

        <li>Collect climate information.</li>

        <li>Store environmental data.</li>

        <li>Display climate information.</li>

        <li>Compare climate conditions.</li>

        <li>Allow users to add new climate records.</li>

    </ul>

</div>

{% endblock %}